# Virtual Environment
.venv/
venv/
__pycache__/
.envrc

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Python package build artifacts
*.egg-info/
build/
dist/

# Postgres
data/postgres/